---

###############################################################################
# Database settings
###############################################################################

database_host: "database-host"
database_name: "database-name"
database_user: "database-user"
database_password: "database-password"

database_backup_file: "~/backup.sql.gz"


###############################################################################
# Mediawiki basic settings
###############################################################################

mediawiki_version_major: "1"
mediawiki_version_minor: "30"
mediawiki_version_path: "0"

mediawiki_base_dir: "~/public"

mediawiki_copy_files:
  - "LocalSettings.php"
  - "images"


###############################################################################
# Mediawiki skins
###############################################################################

mediawiki_skins_wikipedia:
  - "MinervaNeue"


###############################################################################
# Mediawiki extensions
###############################################################################

mediawiki_extensions_wikimedia:
  - "CategoryTree"
  - "Math"

mediawiki_extensions_other:
  - { name: "PDFEmbed", repo: "https://github.com/HydraWiki/PDFEmbed" }
