User-agent: *
Disallow: /{{ mediawiki_dir }}/
Disallow: /wiki/Special:Random
Disallow: /wiki/Special:Search
Disallow: /wiki/Talk:
Disallow: /wiki/{{ mediawiki_sitename }}:*
Disallow: /wiki/MediaWiki:*

User-agent: Googlebot
User-agent: Googlebot-Mobile
Disallow: /{{ mediawiki_dir }}/
Disallow: /wiki/Special:*
Allow: /{{ mediawiki_dir }}/load.php
