User-agent: *
Disallow: /{{ mediawiki_dir }}/
Disallow: /{{ server_url_prefix }}/Special:Random
Disallow: /{{ server_url_prefix }}/Special:Search
Disallow: /{{ server_url_prefix }}/Talk:*
Disallow: /{{ server_url_prefix }}/{{ mediawiki_sitename }}:*
Disallow: /{{ server_url_prefix }}/MediaWiki:*

User-agent: Googlebot
User-agent: Googlebot-Mobile
Disallow: /{{ server_url_prefix }}/Special:*
Allow: /{{ mediawiki_dir }}/load.php
