User-agent: *
Disallow: /{{ mediawiki_dir }}/
Disallow: /{{ mediawiki_url_prefix }}/Special:Random
Disallow: /{{ mediawiki_url_prefix }}/Special:Search
Disallow: /{{ mediawiki_url_prefix }}/Talk:*
Disallow: /{{ mediawiki_url_prefix }}/MediaWiki:*

User-agent: Googlebot
User-agent: Googlebot-Mobile
Disallow: /{{ mediawiki_url_prefix }}/Special:*
Disallow: /*?*mobileaction=
Allow: /{{ mediawiki_dir }}/load.php
